---
import Header from '/workspaces/GameCommunity/src/components/Header.astro'
import Footer from '/workspaces/GameCommunity/src/components/Footer.astro'
---

<Header />

<main>
    <section>
        <h1>Acerca de GameCommunity</h1>
        <p>GameCommunity es una empresa comprometida con...</p>
    </section>
</main>

<Footer />