---
import Header from '/workspaces/GameCommunity/src/components/Header.astro'
import Footer from '/workspaces/GameCommunity/src/components/Footer.astro'
---

<Header />

<main>
    <section>
        <h1>Contacto</h1>
        <p>¡Estamos aquí para ayudarte! Contáctanos mediante el formulario o la información de contacto a continuación.</p>
    </section>

    <section>
        <!-- Aquí iría un formulario de contacto si lo necesitas -->
        <p>Información de contacto:</p>
        <p>Email: info@gamecommunity.com</p>
        <p>Teléfono: +123456789</p>
    </section>
</main>

<Footer />