---
import Header from '/workspaces/GameCommunity/src/components/Header.astro'
import Footer from '/workspaces/GameCommunity/src/components/Footer.astro'
---

<Header />

<main>
    <section>
        <h1>Bienvenido a GameCommunity</h1>
        <p>Somos una empresa dedicada a mejorar la experiencia online para todos.</p>
    </section>

    <section>
        <h2>Servicios Destacados</h2>
        <ul>
            <li>Creación de servidores potentes</li>
            <li>Sorteos y promociones para todos</li>
            <li>Servicios de moderación y comunidad</li>
        </ul>
    </section>

    <section>
        <p>¿Listo para empezar?</p>
        <a href="/contact">¡Contáctanos!</a>
    </section>
</main>

<Footer />
