---
import Header from '/workspaces/GameCommunity/src/components/Header.astro'
import Footer from '/workspaces/GameCommunity/src/components/Footer.astro'
---

<Header />

<main>
    <section>
        <h1>Nuestros Servicios</h1>
        <ul>
            <li>Creación de servidores potentes</li>
            <li>Sorteos y promociones para todos</li>
            <li>Servicios de moderación y comunidad</li>
        </ul>
    </section>
</main>

<Footer />